<h1>Hit List</h1>
<div class = "col s12">
<a href="<%= artists_path %>"><div class="nav-box artists"><h2>Artists</h2></div></a>
<a href="<%= songs_path %>"><div class="nav-box songs"><h2>Songs</h2></div></a>
<a href="<%= genres_path %>"><div class="nav-box genres"><h2>Genres</h2></div></a>
</row>
